version: 2

updates:
  - package-ecosystem: "github-actions"
    directories:
      - "/"
    schedule:
      interval: "daily"
      time: "01:00"
      timezone: "Europe/London"
    target-branch: "main"
    groups:
      github-actions:
        patterns:
          - "*"
        update-types:
          - "patch"
          - "minor"

  - package-ecosystem: "uv"
    directories:
      - "/scanner"
      - "/diagrams"
    schedule:
      interval: "daily"
      time: "01:00"
      timezone: "Europe/London"
    target-branch: "main"
    groups:
      python:
        patterns:
          - "*"
        update-types:
          - "patch"
          - "minor"
