name: "Deploy"

on:
  push:
    branches: [main]
  schedule:
    - cron: "0 0 * * *"

permissions:
  contents: read
  packages: read

jobs:
  run-scanner:
    name: Run Scanner
    runs-on: ubuntu-latest
    permissions:
      statuses: write
      security-events: write
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Setup Scanner Dependencies
        uses: ./.github/actions/setup-scanner-dependencies
      - name: Run Scanner
        run: just scanner::run
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPOSITORY_OWNER: ${{ github.repository_owner }}
