name: "Sync labels"

on:
  push:
    branches:
      - main
    paths:
      - .github/other-configurations/labels.yml

permissions:
  contents: read
  pull-requests: read

jobs:
  configure-labels:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - name: Checkout Repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Sync labels
        uses: micnncim/action-label-syncer@3abd5ab72fda571e69fffd97bd4e0033dd5f495c # v1.3.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ github.repository }}
          manifest: .github/other-configurations/labels.yml
